{% extends "layouts/base.html" %}
{% block title %}Club Page{% endblock %}
{% block content %}

{% if club %}
<div class="container center-text">
    <h2> {{club.name}} </h2>
</div>

<div class="container center">
    <div class="col">
        <div class="card center">
            <div class="card-body">
                <img src="{{club.image_url}}" class="card-img-top">
                <h5> <u>Club Info: </u></h5>
                <p> League: {{club.league}} </p>
                <p> Location: {{club.city}} </p>
                <p> Stadium: {{club.stadium_name}} </p>
                <p> Year Founded: {{club.year_founded}} </p>
                <br>
                <h5> <u>Past Performance: </u></h5>

                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                <h5>Year</h5>
                            </th>
                            <th>
                                <h5>Rank</h5>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for year in club.standings.items() %}
                        <tr>
                            <td> {{year[0]}} </td>
                            <td> {{year[1]}} </td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% else %}
<h2>This club is not currently in the database.</h2>
{% endif %}
{% endblock %}